[submodule "depends/libsnark"]
	path = depends/libsnark
	url = https://github.com/scipr-lab/libsnark.git
[submodule "depends/gtest"]
	path = depends/gtest
	url = https://github.com/google/googletest.git
